<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BankStorageEntities" connectionString="metadata=res://BankAppDbFirstApproach.Models/BankAppDbContext.csdl|res://BankAppDbFirstApproach.Models/BankAppDbContext.ssdl|res://BankAppDbFirstApproach.Models/BankAppDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BankStorage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>